<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.ykserver.ykapps.mapper.ClueRemarkMapper">

    <resultMap id="BaseResultMap" type="com.work.ykserver.ykapps.pojo.ClueRemark">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="clueId" column="clue_id" jdbcType="INTEGER"/>
            <result property="noteWay" column="note_way" jdbcType="INTEGER"/>
            <result property="noteContent" column="note_content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,clue_id,note_way,
        note_content,create_time,create_by,
        edit_time,edit_by,deleted
    </sql>
    <select id="selectClueRemarkListByPage" resultType="com.work.ykserver.ykapps.vo.ClueRemarkVO">
        select tcr.id, tcr.clue_id, tdv.type_value as noteWayValue,
               tcr.note_content, tcr.create_time, tu1.name as createName,
               tcr.edit_time, tu2.name as editName, tcr.deleted
        from t_clue_remark as tcr
        left outer join t_dic_value as tdv on tcr.note_way = tdv.id
        left outer join t_user as tu1 on tcr.create_by = tu1.id
        left outer join t_user as tu2 on tcr.edit_by = tu2.id
        <where>
            tcr.clue_id = #{clueRemarkQuery.clueId} and (tcr.deleted = 0 or tcr.deleted is null)
            ${clueRemarkQuery.filterSQL}
        </where>
        order by tcr.create_time desc
        limit #{page.pageNum}, #{page.pageSize}
    </select>
    <select id="selectCountByPage" resultType="java.lang.Integer">
        select count(*)
        from t_clue_remark as tcr
        <where>
            tcr.clue_id = #{clueRemarkQuery.clueId} and (tcr.deleted = 0 or tcr.deleted is null)
            ${clueRemarkQuery.filterSQL}
        </where>
    </select>
</mapper>
