<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.ykserver.ykapps.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.work.ykserver.ykapps.pojo.Permission">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        url,type,parent_id,
        order_no,icon
    </sql>
    <select id="getPermissionByUserId" resultType="java.lang.String">
        select distinct tp.code
        from t_user_role as tur
        inner join t_role_permission as trp
        on tur.role_id = trp.role_id
        inner join t_permission as tp
        on tp.id = trp.permission_id
        where tur.user_id = #{userId}
    </select>
</mapper>
