<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.ykserver.ykapps.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.work.ykserver.ykapps.pojo.Role">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role,role_name
    </sql>
    <select id="getRoleByUserId" resultType="java.lang.String">
        select role
        from t_user_role as tur
        inner join t_role as tr
        on tur.role_id = tr.id
        where tur.user_id = #{userId}
    </select>
</mapper>
